.info-container {
  width: 90%;
  margin: 24px auto;
  background-color: #fff;
  box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.16);
}

.sub-container {
  padding: 0 16px;
}

.nav {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0;
  text-align: center;
  justify-content: space-around;
  box-sizing: border-box;
  border-bottom: 1px solid #cccccc;
}

.nav-item {
  width: 16.66%;
  position: relative;
  padding: 10px 0;
  list-style: none;
}

.nav-link-mb {
  display: none;
}

.nav-link {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  color: #717070;
  text-decoration: none;

}

.nav-item:hover,
.nav-item:focus {
  cursor: pointer;
  div{
    color: #1a1a1a;

    span {
      background: #ee1b24;
    }
  }
}

.nav-item::after {
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  line-height: 0;
  position: absolute;
  height: 3px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: width 0.5s ease 0s, height 0.5s ease 0s;
  transition: width 0.5s ease 0s, height 0.5s ease 0s;
  width: 4px;
  z-index: 9;
  background: #ee1b24;
}

.nav-item:hover:after,
.nav-item:focus:after {
  opacity: 1;
  width: 100%;
}

.active {
  div{
    color: #1a1a1a;

    span {
      background: #ee1b24;
    }
  }
}

.active:after {
  opacity: 1;
  width: 100%;
}

.nav-link span {
  background: #717070;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  width: 20px;
  display: inline-block;
  border-radius: 10px;
  margin-right: 5px;
}

/* ============ Selector Table buttons ==============*/
a.button {
  width: 200px;
  border: 2px solid #ee1b24;
  letter-spacing: 1px;
  padding: 7px 10px;
}

.btn-active {
  background: #ee1b24;
  color: white;
}

.select-btns-container {
  margin-bottom: 32px;

  a {
    margin: 8px 8px;
    align-content: right;
    display: inline-block;
  }
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

/*//////////////////////////////////////////////////////////////////
[ Table Scroll bar ]*/
.tables-container::-webkit-scrollbar
{
  height:7px;

}
.tables-container::-webkit-scrollbar-track
{
  border-radius: 10px;

  webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.tables-container::-webkit-scrollbar-thumb
{
  background-color: #a6c53b;


  webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.single-table-container {
  max-height: 580px;
  overflow: auto;
}

.tables-container table {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.cell-center {
  text-align: center;
}

/*==================================================================
[ Header ]*/
.tables-container table {

  thead {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    background-color: #393939;

    th {
      font-size: 14px;
      font-weight: 700;
      color: #ff3d3d;
      line-height: 1.4;
      text-transform: uppercase;
      padding: 18px 16px;
    }
  }

}

/*==================================================================
[ Body ]*/

.tables-container table {

  tbody {
    overflow: auto;
    background: #222222;

    td {
      padding: 16px 16px;
      font-size: 15px;
      color: #808080;
      line-height: 1.4;
      background-color: #222222;
    }
  }

}






